:root {
  --color-primary: #E8798B; /* red-500 */
  --color-secondary: #FCA5A5; /* red-300 */
  --color-background: #f9fafb;
  --color-text: #111827;
}

[data-theme="dark"] {
  --color-background: #1f2937;
  --color-text: #f9fafb;
  --color-primary: #E8798B; /* red-400 in dark mode */
}



.basil-heading {
  font-size: 20px;
  font-weight: bold;
}

.navigation-font-family {
  font-family: AktivGrotesk-Bold, sans-serif !important;
}
